#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
  }
  